body{
	font-size: 14px;
}
.gry{
	/*background: url(../images/12.jpg) no-repeat;
    width: 100%;
    height: 100vh;
     */
	    background-color: #f1f1f166;
		 height: 100vh;
		 background-size: cover;
}
.gry img{
	padding-top: 25px;
    padding-bottom: 15px;
}
.signup{
	background-color: #fff;
    padding: 0;
    
}
.signup .form{
	padding: 35px;
}
.signup h3 {
    background-color: #283891;
    padding: 30px;
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
	font-size: 24px;
}
.signup .form-control{
	background-color: #f5f5f5;
    border: 1px solid transparent;
    padding: 10px 10px;
    width: 100%;
	margin-bottom:20px;
	border: 1px solid #5e2d9038;
	border-radius: 3px;
	margin-top: 10px;
}
.apply{
	width: 100%;
    background-color: #ed1f24;
    border: none;
    color: #fff;
    padding: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}
.apply:hover{
    background-color: #283891;
}
.thanks{
	background-color: #283891;
    padding: 0;
    margin-top: 45px;
}
.thanks h3{
	padding: 26px 0 0 0;
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}
.thanks p{
	    font-size: 15px;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
}