
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto.regular-webfont.woff2') format('woff2'),
         url('fonts/roboto.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family:'combria';
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

/*====  new css   ====*/
label {
        font-weight: 700;
   
    color: #5f6061ba;
}
.no_padd{
	padding:0;
}
.slider_black_um{
	padding-top:650px;
}
.slider_um{
	padding-top:350px;
	padding-left:700px;
}
.um_test{
	width:300px !important;
	
	
}
.rev-text-caption-up{
	
	
	width:1012px;
}
.rev-text-caption-up h3{
		font-size:35px;
	font-weight:700;
	color:#000;
	padding-top:80px;
	padding-left:80px;
	text-align:left;
	letter-spacing:2.5px
}
.rev-text-caption-up h4{
	font-size:35px;
	font-weight:700;
	color:#000;
	padding-top:50px;
	text-align:center;
	letter-spacing:2.5px
	
}
.rev-text-bold p{
	font-size:13px;
	line-height:13px;
	padding-top:150px;
	padding-left:80px;
}
.rev-text-caption-up h5{
	font-size:13px;
	color:#000;
	padding-top:110px;
	text-align:center;
	
}

.rev-comp{
	padding-top:180px;
	padding-left:1200px;
	
}
.macbook{
	padding-top:350px;
	padding-left:900px;
}



@media only screen and  (max-width: 425px) {
	
	.rev-text-caption-up{
		width:425px;
	}
	.rev-text-caption-up h3{
		font-size:17px;
	
	padding-top:30px;
	padding-left:30px;
	
}
	.rev-text-caption-up h4{
	font-size:17px;
	font-weight:700;
	color:#000;	
	padding-top:10px;
	
	
}
.rev-text-bold p{
	font-size:9px;
	line-height:13px;
	padding-top:80px;
	padding-left:30px;
}
.rev-text-caption-up h5{
	font-size:10px;
	color:#000;
	padding-top:35px;
	text-align:center;
	
}

}
@media only screen and  (max-width: 360px) {
	.rev-text-caption-up{
		width:360px;
	}
	.rev-text-caption-up h4{
	font-size:15px;
	font-weight:700;
	color:#000;	
	padding-top:5px;
}
.rev-text-caption-up h5{
	font-size:9px;
	color:#000;
	padding-top:25px;
	text-align:center;
	
}

	
}
@media only screen and  (max-width: 375px) {
	.rev-text-caption-up{
		width:375px;
	}
	
}
@media only screen and  (max-width: 320px) {
	.rev-text-caption-up{
		width:320px;
	}
	
}
.get_touch{
	border-bottom: 15px solid #349d46;
	padding:0;
	    background-color: #cccccc36;
}
.get_touch h3{
	margin:0;
	padding:20px;
	background-color:#349d46;
	color:#fff;
	text-transform:uppercase;
	font-weight:700;
	    font-size: 20px;
	
}
.get_touch h4{
	padding: 10px 0px 10px 20px;
    font-size: 19px;
    border-bottom: 1px dashed #349d46;
}
.get_touch h4 i{
	padding-right:20px;
	
}
.contact-padd{
	padding:10px 0 0 0;
}
.get_touch .form {
	padding-bottom:10px;
}
.get_touch .form label{
	padding:5px;
	margin:0;
}
.get_touch .form input[type=text]{
	width:100%;
	padding:5px;
	margin:0;
	background-color: #f4f4f4;
    border: 1px solid #ccc;
}
.get_touch .form textarea{
	height: 145px;
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

.ser_img{
	  position: relative;
  
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    
   
    transition: .5s ease;
    /* background-color: #fc65736b; */
}



.ser_img:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.centered {
        position: absolute;
    top: 50%;
    left: 247px;
    transform: translate(-50%, -50%);
}
.centered h4{
	        font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: #090909;
    /* border: 2px solid; */
    padding: 26px;
    background-color: #fff;
	    height: 130px;
}
.ser_img:hover .centered h4{
  color:#fb3337;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}
.navbar-brand{
	float: left;
    padding:0;
    /* font-size: 18px; */
    /* line-height: 20px; */
    height: auto;
}

.cta-wrapp {
    display: block;
    background: #343c45;
    color: #fff;
    padding: 60px 0 50px 0;
}
.cta-wrapp h4{
	font-weight:300;
	color:#fff;
	font-size:24px;
}
.btn-bordered {
	    
    border-radius: 2px;
    padding: 15px 25px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: none;
    color: #fff;
    border-color: #fff;
}

.btn-bordered:hover {
	    background: #fff;
    border-color: #fff;
    color: #464646;
}

/*===== new css =====*/


/*--------------------------------------------------*/
/* Header Area */
.header_area {
  width: 100%;
  padding-top: 20px;
  padding-bottom:10px;
  margin: 0;
  border: 0;
  background-color: #fff;
  z-index: 9999;
  border-radius: 0;
  border-top: 7px solid #ffcc00;
  transition: all .5s ease;S;
  
}
.header_area.is-scrolling {
  background: #fff;
  -webkit-box-shadow: 0 2px 42px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 42px rgba(0, 0, 0, 0.1);
  padding-top: 0;
}
.header_area.is-scrolling .nav li.active a {
  color: #0c79be;
}
.header_area .navbar-header .navbar-brand {
  padding-top: 0;
  font: 700 40px "Poppins", sans-serif;
  color: #494949;
}
.header_area .navbar-header .navbar-brand span {
  color: #065534;
}
.header_area .main_menu {
  padding: 0;
}
.header_area .main_menu .navbar_main {
  float: right;
  display: block;
  text-align: center;
}
.header_area .main_menu .navbar_main li {
  float: none;
  display: inline-block;
}
.header_area .main_menu .navbar_main li a {
  font: 600 14px/60px "Poppins", sans-serif;
  padding: 0;
  padding-left: 40px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  color: #7c8a9a;
  background-color: transparent !important;
}
.header_area .main_menu .navbar_main li a:hover {
  color: #065534;
}
.header_area .main_menu .navbar_main li a:active {
color:#38ad4c}

.header_area .main_menu .navbar_main li.lets_talk {
  padding-left: 40px;
}
.header_area .main_menu .navbar_main li.lets_talk a {
  line-height: 40px;
  display: block;
  width: 150px;
  background: #065534 !important;
  border-radius: 3px;
  color: #fff;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
}
.header_area .main_menu .navbar_main li.lets_talk a:hover, .header_area .main_menu .navbar_main li.lets_talk a.focus {
  background: #7c8a9a !important;
}
.header_area .main_menu .navbar_main li.submenu a i {
  padding-left: 10px;
}
.header_area .main_menu .navbar_main li.submenu ul {
  border: none;
  box-shadow: none;
  border-radius: 0 0px 5px 5px;
  min-width: 200px;
  transition: all .2s ease;
  background: #fff !important;
  padding: 0;
}
@media (min-width: 991px) {
  .header_area .main_menu .navbar_main li.submenu ul {
    display: block;
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  }
}
.header_area .main_menu .navbar_main li.submenu ul li {
  display: block;
  padding: 0;
}
.header_area .main_menu .navbar_main li.submenu ul li a {
  line-height: normal;
  padding: 10px 20px;
  display: block;
  text-align: left;
}
.header_area .main_menu .navbar_main li.submenu ul li a:hover, .header_area .main_menu .navbar_main li.submenu ul li a:focus {
  background: #fff !important;
}
@media (min-width: 991px) {
  .header_area .main_menu .navbar_main li:hover.submenu ul, .header_area .main_menu .navbar_main li:focus.submenu ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

}

.header_area.blog_header {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.theme_color {
    color: #065534;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #0c79be;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
        font-size: 18px;
    font-weight: 700;
    color: #000;
    /* text-transform: uppercase; */
    padding-top: 25px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #0c79be;
    background-color: transparent;
}

.btn-style-one {
    position: relative;
    padding: 15px 32px;
    line-height: 24px;
    text-transform: uppercase;
    background: #065534;
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 700;
    outline: 2px solid #ffffff;
    outline-offset: -6px;
    font-family: 'robotoregular', sans-serif;
}
.btn-style-three {
    position: relative;
    padding: 15px 32px;
    line-height: 24px;
    text-transform: uppercase;
    background: #065534;
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 700;
    outline: 2px solid #ffffff;
    outline-offset: -6px;
    font-family: 'robotoregular', sans-serif;
}


@media only screen and (min-width: 319px) and (max-width: 768px) {

.navbar-default .navbar-nav>li>a {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    /* padding-top: 25px; */
    padding-left: 35px;
}
.navbar-collapse {
    border: 0;
    background: #fff;
    border-radius: 5px;
    margin: 0;
}
.navbar-nav {
    margin: 0;
}

.btn-style-one {
       margin-left: 90px;
    padding: 9px 11px;}
	.slider_bg {
    height: auto;

}
}
@media (max-width: 991px){
.navbar-collapse {
    border: 0;
    background: #fff;
    border-radius: 5px;
    margin: 0;
}

}


#carousel-slider,
#carousel-slider .carousel-inner,
#carousel-slider .carousel-inner .item {
  height: 100%;
}

.carousel-control.right, .carousel-control.left {
    background: none !important;
}

#slider-heading {
  display: none;
}

.slider-heading {
 	  padding-top:0;
    font-size: 50px;
    font-weight: 700;
    color: #000;
}

.responsive-slider .slides ul li .slide-body .caption.header.slider-headdiv {
  left: 20%;
}

.responsive-slider .slides ul li .slide-body .caption.sub.slider-para {
  color: #4b4b4b;
  bottom: -25%;
  right: 8%;
}

.responsive-slider .slides ul li .slide-body .caption.header.slider1 {
  bottom: 5%;
  width: 31%;
}

.responsive-slider .slides ul li .slide-body .caption.img-html5.slider-img3 {
  bottom: 5%;
  right: 6%;
  width: 40%;
}

@media only screen and (min-width: 319px) and (max-width: 768px) {
  .slider {
      padding-top: 0;
  }

  .slider h1 {
    font-size: 30px;
  }

  .responsive-slider .slides ul li .slide-body .caption.header.slider1 {
    top: 15%;
    width: 90%;
  }

   h1.slider-heading {
      font-size: 20px;
   }

  .responsive-slider .slides ul li .slide-body .caption.header.slider-headdiv {
    left: 5%;
  }

  .responsive-slider .slides ul li .slide-body .caption.img-html5 {
    bottom: 5% !important;
    right: 25% !important;
  }

  .responsive-slider .slides ul li .slide-body .caption.img-twitter {
      bottom: 7% !important;
      left: 30% !important;
      width: 42% !important;
  }

  .responsive-slider .slides ul li .slide-body .caption.img-bootstrap {
    width: 260% !important;
  }

  .responsive-slider .slides ul li .slide-body .caption.img-html5.slider-img3 {
    width: 50% !important;
  }
}
/* ========= header-top-start =========== */
.header-top{
	background:url('../images/header_bg.jpg')no-repeat center center ;
    margin-top: 127px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.header-top h3{
	color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.header-top h4{
	    text-align: center;
    color: #fff;
    font-size: 23px;
}
/* ========= header-top-end =========== */

/* ========= join-us-start =========== */
.join-us-bg{
	width:100%;
	/*background: url(../images/join-bg.jpg) no-repeat center center fixed;*/
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.join-us-bg .deks{
	width:100%;
	/*background: url(../images/join-bg.jpg) no-repeat center center fixed;*/
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.join-us-bg .tab{
	display:none;
}
.join-us-bg .mobi{
	display:none;
}

.join-us-bg .form{
	       position: absolute;
    padding: 50px 0 50px 0;
    top: 225px;
}
.join-us-bg .form .form-control{
	    margin-bottom: 21px;
    border: none;
    border-radius: 0;
    background-color: #ffffffba;
}
.join-us-bg .form .form-checkbox{
	  margin-bottom: 21px;
    border: none;
    border-radius: 0;
    background: #ffffffba !important;
}
.checkbox {
    
    position: relative;
    display: block;
    
}
.checkbox-2{
	    position: relative;
    display: block;
    float: right;
}
.checkbox-3{
	    position: relative;
    display: block;
    float: left;
    padding-right: 15px;
	padding-bottom: 10px;
}
input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
.helper {
    position: absolute;
    top: -4px;
    left: -4px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    user-select: none;
    color: #e7e7e7;
}
.helper:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 20px;
    height: 20px;
    transition: transform 0.28s ease;
    border-radius: 0;
    border: 1px solid #d5dfe4;
}
.helper:after {
  content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #ffcc00;
    border-left: 2px solid #ffcc00;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 12px;
    left: 10px;
}
input[type="checkbox"]:checked ~ .helper::before {
    color: #7bbe72;
}

input[type="checkbox"]:checked ~ .helper::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox label {
    min-height: 24px;
    padding-left: 35px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
	color: #fff;
}
.checkbox-2 label {
	    min-height: 24px;
    padding-left: 35px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}
.checkbox-3 label {
	    min-height: 24px;
    padding-left: 25px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}
input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
.join-us-bg .form h4{
	    text-align: center;
    background-color: #0c79be;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 35px;
}
.join-us-bg .form h5{
	    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding-top: 22px;
}
.join-us-bg .form p{
	    text-align: center;
    color: #fff;
    font-size: 18px;
}
.join-us-bg .form p a{
	color:#fff;
}
.join-us-bg .form p a:hover{
	color:#fc0;
	text-decoration:none;
}

.btn-default {
          /* border-bottom: 2px solid #1797c7; */
    background: #2aadde;
    color: #ffffff;
    /* font-weight: 700; */
    font-size: 17px;
    border-color: #2aadde;
    border-radius: 0;
}
.btn-default:hover {
    color: #fff;
    background-color: #ffcc00;
    border-color: #e8bc0c;
}
.btn-default-2 {
    /* border-bottom: 2px solid #1797c7; */
    background: #ffffff;
        color: #555;
    font-weight: 100;
    font-size: 12px;
    border-color: #e3e3e3;
    border-radius: 0;
}
.btn-default-2:hover {
        color: #fff;
    background-color: #3b9af6;
    border-color: #3b9af6;
}
.btn-default-2:active {
        color: #fff !important;
    background-color: #3b9af6 !important;
    border-color: #3b9af6 !important;
}
.btn:active, .btn.active {
    outline: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.125);
    box-shadow: inset 0 0 0 rgba(0,0,0,0.125);
    color: #fff !important;
    background-color: #3b9af6 !important;
    border-color: #3b9af6 !important;
}
/* ========= join-us-end =========== */

/* ========= Footer-start =========== */
footer{
	background-color:#a3a3a3;
	    padding-top: 30px;
		    padding-bottom: 30px;
}
.black h4{
	font-size: 20px;
    font-weight: 700;
	padding-bottom: 10px;
	color:#000;
}
.black ul{
	padding:0;
	list-style-image: url("../images/arrow.png");
}
.black ul li{
	font-size: 16px;
    font-weight: 700;
	padding-bottom: 12px;
	color:#000;
}
.black ul li a{
	color:#000;
}
.black ul li a:hover{
	color:#fff;
	text-decoration:none;
	padding-left:3px;
}
.hr-footer p{
	padding-top: 25px;
	color:#000;
}
.footer-end{
	    background-color: #fc0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-end p{
	    font-size: 17px;
    margin: 0;
	color:#000;
	font-weight: 700;
}
.footer-end p a{    
	color:#000;
}
.footer-end p a:hover{    
	color:#fff;
	text-decoration:none;
}
/* ========= Footer-end =========== */

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 22px;
    margin-bottom: 8px;
    background-color:#ffcc00;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-toggle {
    border-color: #fc0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 24px;
    height: 4px;
    border-radius: 1px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #0c79be;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffcc00;
}
/* ========= Landing-page start =========== */
.land-head{
	    padding-top: 10px;
    border-top: 10px solid #0c79be;
}
.land-head p{
	    padding-left: 9px;
    padding-top: 8px;
    color: #b3b5b5;
}
 .padd-right{
	padding-right:0
}
.land-head span{
	          float: left;
    font-size: 15px;
    font-weight: 700;
    padding: 3px 6px 0 39px;
}
.land-head .form {
	float:left;
    display: block;
        margin-left: 6px;
    height: 28px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #edf0f0;
    /* background-image: none; */
    border: 0px solid #ccc;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}
.land-head button{
	background-color: #0c79be;
    border: none;
    padding: 4px 8px 4px 8px;
    margin-left: 5px;
    color: #fff;
    font-weight: 700;
}
.main-area{
	margin-top: 0;
    /* padding-top: 222px; */
    border-top: 10px solid #ffcc00;
    background: url(../images/landing.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100hv;
    height: 900px;
	
}
.main-area .image_bg{
	width:100%;
}
.main-area h3{
	        padding-left: 17px;
    padding-top: 0;
    color: #0099cc;
    margin-top: 9px;
}
.hr_logo{
	top: 106px;
    position: absolute;
    width: 80%;
}
.hr_logo .logo{
	float:left
}
.hr_logo .title{
	float:left
}
.join_us{
	    margin-top: 340px;
    text-align: center;
		   
}
.partner{
	    margin-top: 340px;
		margin-bottom: 25px;
}
.partner .btn-2{
	    border: 1px solid #0099cc;
    background-color: #fff;
    color: #0099cc;
    font-size: 24px;
    border-radius: 40px;
    padding: 10px 30px 10px 30px;
	text-decoration:none;
}
.partner .btn-2:hover{
	    border: 1px solid #0c79be;
    background-color: #0c79be;
    color: #ffffff;
}
.join_us h4{
	color: #fff ;
    font-size: 30px;
    letter-spacing: 2px;
}
.join_us .btn-1{
	    background-color: #fc0;
    padding: 12px 25px 12px 25px;
    font-size: 25px;
    text-transform: uppercase;
    /* margin: 0px; */
    border: none;
    outline: 1px solid #000000;
    outline-offset: -6px;
    color: #000;
	font-weight: 700;
	text-decoration:none;
}
.join_us .btn-1:hover{
	color: #fff;
	    outline: 1px solid #ffffff;
}
.join_us_border{
	    border: 1px solid #fff;
    padding: 25px;
    border-radius: 50px;
}
/* ========= Landing-page end =========== */
.education-area{
	padding-top: 25px;
}
.education-area p{
	    font-size: 19px;
    font-weight: 700;
}
.education-area  .span{
	    float: right;
		font-size: 17px;
    font-weight: 700;
	margin-bottom: 14px;
}
 .ed-form{
	    margin-bottom: 7px;
    display: block;
    width: 100%;
    height: 30px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0dfdf78;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 12px 1px rgba(0,0,0,0.075); */
    /* box-shadow: inset 0 0 36px 0px rgba(0,0,0,0.075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}
.education-area .ed-form-2{
	float:left;
	    margin-bottom: 7px;
    display: block;
    margin-right:10px;
    height: 30px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0dfdf78;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 12px 1px rgba(0,0,0,0.075); */
    /* box-shadow: inset 0 0 36px 0px rgba(0,0,0,0.075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}
.ed-textarea{
   
    display: block;
    width: 100%;
   padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0dfdf78;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 12px 1px rgba(0,0,0,0.075); */
    /* box-shadow: inset 0 0 36px 0px rgba(0,0,0,0.075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
min-height: 106px;}
.ed-button{
	    padding: 2px 0;
    margin-bottom: 27px;
}
.ed-button-2 {
    padding: 2px 17px;
    margin-bottom: 27px;
}
.education-area .ed-submit{
	    padding: 10px;
    margin-bottom: 26px;
}
.ed-button-right{
	    padding: 2px 15px 2px 15px;
    float: right;
	    margin-right: 2px;
}
.education-area .valid {
	padding-top:20px;
}
.education-area .valid span{
	float:left;
	padding-top: 8px;
    padding-right: 10px;
}

.salary-button input[type="radio"]{
	 background-color: #0c79be;
}
.salary-button button{
	    background-color: #ffffff
    border: 1px solid #ccc;
    padding: 5px;
}
.salary-button{
	    background-color: #0c79be;
    border: 1px solid #ccc;
    padding: 5px;
}

.pro-div{
	float: left;
	    padding-right: 3px;
		padding-bottom:20px;
}
.pro-div label{
	    padding-top: 6px;
    padding-right: 10px;
}
 .ed-form-3 {
    float: left;
    margin-bottom: 7px;
    display: block;
    margin-right: 3px;
    
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cccccc8a;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 12px 1px rgba(0,0,0,0.075); */
    /* box-shadow: inset 0 0 36px 0px rgba(0,0,0,0.075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}
.padding_no{
	padding:0;
}
.pad_bot{
	Margin-bottom:20px !important;
}
.login_top{
	margin-top:70px;
}
.pad_bot-2{
	padding-top:70px;
}
.pad_bot-3{
	Margin-bottom:25px !important;
}
.pad_rit{
	padding-right:0;
}
.pad_lft{
	padding-left:0;
}
.pad_lft_top{
	padding-top: 28px;
}
.regis{
	padding-left:250px;
	padding-right:250px;
}
.regis_row{
	margin:0;
}
.education-area .add_photo img{
	float:left;
	margin-right: 25px;
    border: 1px solid #cccccc54;
}
.education-area .add_photo p{
	    font-size: 14px;
    font-weight: 100;
    padding-bottom: 3px;
    padding-top: 4px;
	color: #9e9c9c;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #9e9c9cb8;
}

.btn-2 {
      border: 2px solid #0c79be;
    color: white;
    background-color: #0c79be;
    padding: 2px 17px;
     /* border-radius: 8px; */
    font-size: 18px;
    /* font-weight: bold; */
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


/* ========= sidebar start =========== */
.dash-bg{
	padding-bottom:50px;
	padding-top:50px;
	background-color:#F1F3FA;
	margin-top: 127px;
}
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}
.profile-a a{
	padding:0 !important;
	text-align: center;
}
.profile-a a span{
	    text-align: center;
    font-size: 13px;
    font-weight: 100;
}
.navbar-default .navbar-nav>.profile-a>a, .navbar-default .navbar-nav>.profile-a>a:hover, .navbar-default .navbar-nav>.profile-a>a:focus{
	background-color:transparent !important;
}
.profile-a .dropdown-hr{
	        margin-top: 16px !important;
    border: none;
    border-top: 4px solid #fc0;
    border-radius: 0;
    padding-top: 20px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.175);
}
.profile-a .dropdown-hr ul{
	list-style:none;
	padding-left: 11px;
}
.profile-a .dropdown-hr ul li{
	    padding-bottom: 10px;
}
.profile-a .dropdown-hr ul li a{
	    color:#000;
}
.profile-a .dropdown-hr ul li a:hover{
	        color: #0c79be;
    text-decoration: none;
}
.profile-userpic{
	padding-top: 10px;
}
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
	
}
.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}
.dash-bg .profile-sidebar .btn-blue {
    color: #fff;
    background-color: #0c79be;
    border-color: #0c79be;
	border-radius: 0;
}
.dash-bg .profile-sidebar .btn-yellow {
    color: #fff;
    background-color: #ffcc00;
    border-color: #ffcc00;
	border-radius: 0;
}
.padd_none{
	    padding: 10px 3px 10px 18px !important;
		font-weight: 100 !important;
}
.dash-bg .profile-usermenu{
	    margin-top: 30px;
}
.dash-bg .profile-usermenu .heading{
	        color: #0c79be;
    font-weight: 700 !important;
    font-size: 18px;
    margin-left: -2px;
    border-left: 2px solid #fc0;
    background-color: #cee8f921;
}
.dash-bg .profile-usermenu ul li a {
	color: #93a3b5;
	font-size: 15px;
}
.dash-bg .profile-usermenu ul li a:hover{
	background-color: #fafcfd;
    color: #5b9bd1;
	    border-left: 2px solid #ffcc00;
		    margin-left: -2px;
}
.dash-bg .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #f6f9fb;
    color: #93a3b5;
}
.padd_none i{
	padding-right:8px;
}

 nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:last-child{
      border-bottom: none;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #f0f4f79c  solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
     
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
	      border-radius: 0;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus  {
    color: #0c79be;
    background-color: #fafcfd;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  
 
.content_bg{
	background-color:#fff;
}
.content_bg a{
	text-decoration:none;
}
.content_bg h4{
	padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #fc0;
	font-weight: 700;
}
.content_bg h4 span{
	font-weight: 100;
    font-size: 14px;
    margin-left: 20px;
    color: #0c79be;
}
.content_bg h5{
	font-weight: 700;
    font-size: 16px;
} 
.content_bg p{
	color: #908e8e;
} 
.content_bg .padd_cont{
	padding-bottom:10px;
}
 ul.dropdown-lr {
  width: 200px;
}
.content_bg .photo{
	width: 20%;
    padding: 10px;
    text-align: center;
    float: left;
}
.content_bg .photo img{
	padding-bottom: 5px;
}
.content_bg .photo span{
	font-weight: 100;
    font-size: 14px;
    
}
.content_bg .photo span a{
    color: #0c79be;
}
.content_bg .photo span a:hover{
    color: #fc0;
	text-decoration:none;
}
.content_bg .profile-head{
	    width: 80%;
    float: left;
    padding-top: 34px;
}
.content_bg .profile-snapshot{
	  
}
.content_bg .profile-snapshot p{
	    font-weight: 100;
    color: #afadad;
    font-size: 15px;
}
.content_bg .profile-snapshot p span{
	    color: #000;
}
.content_bg .profile-snapshot .gry{
	    /* background-color: #cccccc1a; */
    color: #828486;
    /* font-weight: 700; */
    border: #fff;
   
    /* margin-right: 20px;*/
    background-color: #f6f9fb9c;
    padding: 3px 8px 3px 8px;
    border-left: 2px solid #fc0;
}
.content_bg .profile-snapshot .blue{
	
}
.content_bg ul{
	padding-left:15px;
	
}
.content_bg .table>thead>tr>th{
	    background-color: #0c79be;
    color: #fff;
	    border-bottom:none;
}
.content_bg .table>tbody>tr>td{
	    background-color: #f1f3fa85;
    color: #000;
    border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	    display: table-cell;
    vertical-align: inherit;
}
.content_bg .table>tbody>tr>td:last-child{
	border-right: none;
}
/* ========= sidebar end =========== */
.blue{
	color:#188fda !important;
	margin-bottom: 0px;
}
.black{
	color:#000 !important;
	margin-bottom: 0px;
}
.green{
	color:#04a414 !important;
	margin-bottom: 0px;
}
.job_background{
	background-color: #f6f9fb9c;
	padding: 10px;
	margin-bottom: 2px;
}
.job_background:hover{
	background-color: #f1f3fa;
	text-decoration:none;
}
.job_background a{
	text-decoration:none;
}
.view_{
	color: #1493e4;
    font-size: 13px;
	float: left;
	padding-bottom: 15px;
    padding-top: 5px;
}
.d_red:hover{
	color:#ff0000
}
._delete{
	float:right;
	color: #888;
    font-size: 13px;
	padding-bottom: 15px;
    padding-top: 5px;
}
.trash_sty{
	    font-size: 20px !important;
    padding: 8px;
}
.badge {
    
    background-color: #f1a08f;
}
.inbox_table .table>tbody>tr>td{
	background-color: #ffffff;
    color: #000;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #f1f3fabd;
}
.inbox_table .table>tbody>tr:last-child>td{
	 border-bottom: none;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}
.modal-header {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
     border-bottom: none; 
}
.modal-content {
    position: relative;
    background-color: #fff;
    border-top: 8px solid #0c79be;
    border-bottom: 8px solid rgb(255, 204, 0);
	border-left: 8px solid rgb(255, 204, 0);
	border-right: 8px solid #0c79be;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #fc0;
    font-weight: 700;
    font-size: 18px;
}
.dash_pro_head{
	float: left;
    width: 79%;
}
.dash_pro_p{
	
}
.dash_pro_p span{
	color:#000;
}
.profile_completeness{
	border:1px solid #f1f3fa;
}
.profile_list{
	padding-top: 15px;
}
.verify_bg{
	background-color: #f1f3fa;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
	border: 1px solid #fff;
}
.verify_bg i{
	    padding: 2px 10px 0 0;
    float: left;
	font-size: 26px;
}
.verify_bg p{
	float: left;
	    margin-bottom: 0;
    padding-top: 6px;
}
.verify_bg span{
	float: right;
	padding-top: 6px;
}


.yellow_bg{
	    background-color: #ffcc00;
        padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 20px;
}
.yellow_bg p{
	text-align: center;
    font-size: 26px;
}
.reg_bg{
	background: url(../images/reg_bg.jpg)no-repeat center center;
    width: 100%;
    background-size: cover;
    
	
}
.partner_bg{
	background: url(../images/reg_bg-2.jpg)no-repeat center center;
    width: 100%;
    background-size: cover;
    
	
}
.service_partner{
	 background-color: #e8e8e6c2;
        /* margin-top: 20px; */
    padding-bottom: 40px;
    padding-top: 30px;
}
.service_partner .partner_details{
	    background-color: #0c79be;
    padding: 10px 30px 10px 30px;
	
}
.service_partner .partner_details_1{
	background-color: #ffcc00;
    padding: 10px 30px 10px 30px;
}
.partner_reg{
	    background-color: #00000057;
    padding: 15px 20px 15px 20px;
	    border-bottom: 10px solid #0c79be;
}
.service_partner .partner_details_1 p{
	color: #000;
    font-size: 17px;
    letter-spacing: 1px;
}
.service_partner .partner_details p{
	color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
}
.service_partner .partner_details h4{
	    background-color: #fc0;
    padding: 5px 10px 5px 10px;
    font-weight: 700;
    color: #0c79be;
    font-size: 17px;
    letter-spacing: 1px;
}
.new_emp{
	    background-color: #e8e8e6;
		    margin-top: 20px;
    padding:0px;
	padding-bottom: 40px;
    
}
.new_emp .reg_blue{
	background-color: #0c79be;
    padding: 10px 30px 10px 30px;
	
}
.reg_top{
	padding-bottom:0 !important;
}
.new_emp .reg_blue img{
	width: 160%;
    margin-top: -28px;
    margin-left: -73px;
}
.new_emp .reg_blue .btn_h{
	    background-color: #fc0;
    border: none;
    width: 278px;
    /* margin-left: 84px; */
    position: absolute;
    left: 16px;
    text-align: left;
    padding-left: 42px;
    font-size: 26px;
    color: #0c79be;
}
.new_emp .reg_blue .reg_wht{
	color: #fff;
    font-size: 19px;
}
.new_emp .reg_blue .reg_wht_in{
	font-size: 17px;
    letter-spacing: 1px;
    color: #fff;
}
.new_emp h4{
	text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 3px solid #fc0;
    padding-bottom: 9px;
    padding-top: 10px;
	color:#0061aa;
}
.new_emp p{
	    font-size: 17px;
    color: #0c79be;
    letter-spacing: 1px;
}
.adv_head{
	    margin-top: 40px;
   
	text-align: center;
}

.adv_head h5 {
    font-size: 24px;
	color:#0c79be;
}
.adv_head h5 span{
	background-color: #fc0;
	    padding: 5px 20px 5px 20px;
}
.adv_head h5::before,
.adv_head h5::after {
        display: inline-block;
    content: "";
    border-top: 9px solid #0c79be;
    width: 33%;
    /* margin: 0 1rem; */
    transform: translateY(-4px);
}
.adv_details {
	background-color: #0c79be;
	    margin-bottom: 10px;
}
.adv_details h5{
	       color: #fc0;
    font-size: 20px;
    border-bottom: 2px solid;
    padding-bottom: 6px;
    font-weight: 700;
    letter-spacing: 1px;
}
.adv_details p{
	color:#fff;
}
.big{
	    font-size: 25px !important;
    text-align: center;
	    padding-top: 20px;
}
.mob{
	display:none;
}
.job_resume{
	background: url(../images/resume_bg.png)no-repeat;
    padding-bottom: 5px;
    padding-top: 50px;
}
.job_resume .jo_photo{
	margin-bottom: -46px;
    border: 8px solid #fff;
    border-radius: 7px;
	box-shadow: 0 9px 7px rgba(0,0,0,0.175);
}
.job_resume h5{
	font-size: 21px;
    /* font-weight: 700; */
    color: #fc0;
    padding-top: 20px;
}
.job_resume h4{
	font-size: 25px;
    font-weight: 700;
    color: #fff;
}
.job_resume p{
	    color: #fff;
    font-size: 14px;
}
.resume_head{
	
}
.resume_head ul{
	padding-left:0;
}
.resume_head ul li{
	    padding-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    list-style: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
	border-top: 3px solid transparent;
}
.resume_head ul li a{
	color:#000;
	text-decoration:none
}
.resume_head ul li:hover{
	    border-top: 3px solid #fc0;
 }
 .resume_details{
	 background-color: #fff;
    padding: 35px 60px 25px 60px;
    margin-top: 47px;
    border-radius: 8px;
 }
 .resume_details .description{
	 padding-bottom:20px;
 }
 .resume_details h5{
	 font-size: 20px;
    font-weight: 700;
	padding-bottom:10px;
 }
  .resume_details  p{
	          font-size: 15px;
    color: #9c9a9a;
    letter-spacing: 0.4px;
    line-height: 21px;
  }
  .work-expereince-wrapper {
    position: relative;
    margin: 30px 0;
}
  .work-expereince-block:before {
    content: "";
    position: absolute;
    top: 15px;
    
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: #ffcc00;
    border: 2px solid #FFF;
	    box-shadow: 0 2px 3px rgba(0,0,0,0.175);
}
.work-expereince-content {
    padding-left: 30px;
	padding-top: 17px;
}
.work-expereince-content span{
        color: #ffbb00;
    font-weight: 700;
}
.work-expereince-content h5{
       font-size: 18px;
}
.work-expereince-block:after {
    content: "";
    display: table;
    clear: both;
}
.work-expereince-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 4px;
    background: #f7f3e8;
    
    margin-left: -2px;
}


.work-expereince-block {
    position: relative;
    margin: 5px  0;
}
.res_skills li{
	padding-top: 8px;
    padding-right: 20px !important;
    padding-left: 0 !important;
    float: left;
    list-style: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    border-top: none !important;
	    padding-bottom: 25px;
}
.res_skills  li:hover{
	border-top: none !important;
}
.job_details_exp{
	    float: left;
    padding-right: 16px;
}
.job_details_skill{
	    /* background-color: #cccccc1a; */
    color: #828486;
    /* font-weight: 700; */
    border: #fff;
    margin-right: 20px;
    background-color: #f6f9fb9c;
    padding: 3px 8px 3px 8px;
    border-left: 2px solid #fc0;
    float: left;
}
.job_mob{
	display:none;
}
.job_desk{
	display:block;
}
/* ========= For large screen start =========== */
@media only screen and (min-width: 1600px) and (max-width: 2560px) {
	.main-area {
    
    height: 100vh !important;
    
}
.join_us {
    margin-top: 425px;
    text-align: center;
}
}
/* ========= For large screen end =========== */

/* ========= For Tab start =========== */
@media only screen and (min-width: 460px) and (max-width: 768px) {
	.join-us-bg .deks{
	display:none;
	
}
.join-us-bg .tab{
	display:block;
	width:100%;
}
.join-us-bg .mobi{
	display:none;
}

.regis{
	padding-left:50px;
	padding-right:50px;
}
.checkbox-3 {
    
    float: none;
   }
   .education-area .ed-button-right {
  
    float: none;
}
.pad_bot-2{
	padding-top:0px;
}
.join-us-bg .form {
    
    width: 94%;
}
.land-head p {
    padding-left: 9px;
    padding-top: 8px;
    color: #b3b5b5;
    float: right;
    padding-right: 213px;
}
.main-area h3 {
    padding-left: 17px;
    padding-top: 0;
    color: #0099cc;
    margin-top: 27px;
    font-size: 19px;
}
.main-area {
    margin-top: 0;
    /* padding-top: 222px; */
    border-top: 10px solid #ffcc00;
    background: url(../images/landing-tab.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100hv;
    height: 527px;
}
.join_us .btn-1 {
    background-color: #fc0;
    padding: 12px 25px 12px 25px;
    font-size: 25px;
    text-transform: uppercase;
    /* margin: 0px; */
    border: none;
    outline: 1px solid #000000;
    outline-offset: -6px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 15px;
    width: 100%;
}
.join_us_border {
    border: 1px solid #fff;
    padding: 20px 20px 5px 20px;
    border-radius: 16px;
}
.join_us {
   
    margin-top: 240px;
    text-align: center;
}
.partner {
    margin-top: 85px;
    text-align: center;
    margin-bottom: 20px;
}
.new_emp .reg_blue img {
    width: auto;
    margin-top: -36px;
    margin-left: 273px;
}
.job_mob{
	display:block;
}
.job_desk{
	display:none;
}
}
/* ========= For Tab End =========== */






/* ========= For mobile start =========== */
@media only screen and (min-width: 320px) and (max-width: 459px) {
	.join-us-bg .deks{
	display:none;
	
}
.join-us-bg .tab{
	display:none;
}
.join-us-bg .mobi{
	display:block;
	width:100%;
}
.header_area {
    padding-top: 5px;
    padding-bottom: 5px;
}
.header-top {
    margin-top: 110px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.logo{
    padding-left: 15px;
    
}
.logo img{
	width: 44%;
}
.join-us-bg .form {
    padding: 0 15px 50px 15px;
    top: 200px;
	    width: 93%;
}
.join-us-bg .form h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}
.join-us-bg .form p {
    font-size: 17px;
}
.join-us-bg .form .form-control {
    margin-bottom: 15px;
}
.join-us-bg .form h5 {
    font-size: 19px;
    padding-top: 15px;
}
.education-area  span{
	    float: none;
		
}
.education-area .ed-button-right{
	    float: none;
}
.regis{
	padding-left:20px;
	padding-right:20px;
}
.checkbox-3 {
    
    float: none;
   }
   .education-area .ed-button-right {
  
    float: none;
}
.pad_bot-2{
	padding-top:0px;
}
.footer-end p {
    font-size: 13px;
    text-align: center;
    
}
.black ul li {
    font-size: 14px;
    padding-bottom: 7px;
}
.pad_rit {
    padding-right: 15px;
}
.land-head span {
    float: none;
    font-size: 15px;
    font-weight: 700;
    padding: 3px 6px 0 0;
    width: 100%;
    text-align: center;
}
.land-head .form {
    width: 100%;
    margin-bottom: 3px;
    float: none;
    display: block;
    margin-left: 0;
    height: 28px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #edf0f0;
    /* background-image: none; */
    border: 0px solid #ccc;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}
.land-head button {
    background-color: #0c79be;
    border: none;
    padding: 4px 8px 4px 8px;
    margin-left: 0;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.land-head p {
    padding-left: 0;
    padding-top: 8px;
    color: #b3b5b5;
}
.hr_logo {
    top: 228px;
    position: static;
    width: 100%;
    text-align: center;
}
.hr_logo .title {
    float: none;
	padding-top: 12px;
}
.main-area {
    margin-top: 0;
    /* padding-top: 222px; */
    border-top: 10px solid #ffcc00;
    background: url(../images/landing-mob.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100hv;
    height: 560px;
}
.join_us {
    margin-top: 138px;
    text-align: center;
}
.join_us .btn-1 {
    background-color: #fc0;
    padding: 12px 25px 12px 25px;
    font-size: 20px;
    text-transform: uppercase;
    /* margin: 0px; */
    border: none;
    outline: 1px solid #000000;
    outline-offset: -6px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 15px;
    width: 100%;
}
.join_us_border {
    border: 1px solid #fff;
    padding: 14px 8px 0px 8px;
    border-radius: 10px;
}
.partner {
    margin-top: 80px;
    margin-bottom: 25px;
	text-align: center;
}
.main-area h3 {
    padding-left: 17px;
    padding-top: 0;
    color: #0099cc;
    margin-top: 9px;
    font-size: 17px;
}
.partner .btn-2 {
    border: 1px solid #0099cc;
    background-color: #fff;
    color: #0099cc;
    font-size: 18px;
    border-radius: 40px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}
.new_emp .reg_blue img {
    width: 100%;
    margin-top: 43px;
    margin-left: 44px;
}
.deks{ 
	display:none;
}
.mob{
	display:block;
	margin-top: 0;
    background: url(../images/landing-mob.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 565px;
}
.mob .m_login{
	padding-top: 100px;
}
.mob .m_login h4{
	    font-size: 25px !important;
    color: #fff;
}
.mob .btn-m{
	    width: 200px;
    background-color: #fc0;
    padding: 8px 10px 8px 10px;
    font-size: 20px;
    margin-bottom: 7px;
    text-transform: uppercase;
    /* margin: 0px; */
    border: none;
    outline: 1px solid #000000;
    outline-offset: -6px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
.mob h3{
	font-size: 20px;
    background-color: #0f79beb8;
    border-radius: 20px;
    padding: 6px;
    color: #fff;
}
.mob .mb_reg{
	    padding-top: 114px;
	  
}
.mob .mb_reg span{
	    font-size: 15px;
    font-weight: 700;
}
.mob .mb_reg .form{
    
	width:100%;
    margin-bottom: 1px;
    height: 25px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #edf0f0;
    /* background-image: none; */
    border: 0px solid #ccc;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}
.mob .mb_reg button{
	background-color: #0c79be;
    border: none;
    padding: 4px 8px 4px 8px;
    margin-bottom: 2px;
    color: #fff;
    font-weight: 700;
	float: left;
}
.mob .mb_reg p{
	float: right;
}
.mob .mb_reg .m_partner{
	    margin-top: 37px;
    margin-bottom: 9px;
    text-align: center;
    padding-top: 12px;
    border-top: 5px solid #ffdf85;
}
.mob .mb_reg .m_partner .btn-3 {
    border: 1px solid #0099cc;
    background-color: #fff;
    color: #0099cc;
    font-size: 17px;
    border-radius: 40px;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
}
.yellow_border{
	border-bottom: 15px solid #ffdf85;
    float: left;
    width: 25%;
}
.blue_border{
	    border-bottom: 20px solid #8599ce;
    float: left;
    width: 50%;
}
.job_mob{
	display:block;
}
.job_desk{
	display:none;
}
}
/* ========= For mobile start =========== */
